{% extends 'layout.html' %}
{% block content %}
<style>
    /* Your existing CSS */
</style>

<div class="sidebar">
    <div class="sidebar-logo">Auditoría</div>
    <ul class="sidebar-menu">
        <li><a href="{{ url_for('admin.processing_config') }}" class="contenido">Configuración de Procesamiento</a></li>
        <li><a href="{{ url_for('admin.image_logs') }}" class="contenido">Registro de Imágenes Generadas</a></li>
        <li><a href="{{ url_for('admin.add_users') }}" class="contenido">Agregar Usuarios</a></li>
        <li><a href="{{ url_for('admin.user_authorization') }}" class="contenido">Autorizar Usuarios</a></li>
    </ul>
</div>

<div class="content">
    <div class="content-header">
        {% if active_section == 'processing_config' %}
            {% include 'processing_config.html' %}
        {% elif active_section == 'image_logs' %}
            {% include 'image_processing_logs.html' %}
        {% elif active_section == 'add_users' %}
            {% include 'add_users.html' %}
        {% elif active_section == 'user_authorization' %}
            {% include 'autorizacion.html' %}
        {% endif %}
    </div>
</div>

<script>
    // Optional: Add JavaScript for any client-side interactions
</script>
{% endblock %}