{% extends 'layout.html' %}


{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administracion.css')}}">
</head>

<div class="sidebar" style="height: 550px; width: 300px; border-radius: 20px; font-size: 14px;">
    <div class="sidebar-logo">Auditoría</div>
    <ul class="sidebar-menu">
        <li><a href="{{ url_for('admin.admin') }}" class="contenido">Configuración de Procesamiento</a></li>
        <li><a href="{{ url_for('users.usuarios') }}" class="contenido">Agregar Usuarios</a></li>
        <li><a href="{{ url_for('autorizacion.autorizacion') }}" class="contenido">Autorizar Usuarios</a></li>
        <li><a href="{{ url_for('registro.image_processing_logs') }}" class="contenido">Logs de Procesamiento</a></li>
        <li><a href="{{ url_for('password.cambiar_contrasena') }}" class="contenido">Cambiar contraseña de usuarios</a></li>

    </ul>
</div>

<section class="alll">
    <div class="content" style="width: 100%; height: 500px; ">
        <div class="content-header" style="width: 90%; height: 90%; display: flex; justify-content: center; align-items: center;">
            {% if active_section == 'admin' %}
            {% include 'admin.html' %}
            
            {% elif active_section == 'autorizacion' %}
            {% include 'autorizacion.html' %}

            {% elif active_section == 'usuarios' %}
            {% include 'users.html' %}

            {% elif active_section == 'image_processing_logs' %}
            {% include 'image_processing_logs.html' %}

            {% elif active_section == 'cambiar_contrasena' %}
            {% include 'password.html' %}

             
            
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}