{% extends 'layout.html' %}

{% block content %}
<div class="sidebar">
    <div class="sidebar-logo">Auditoría</div>
    <ul class="sidebar-menu">
        <li><a href="{{ url_for('admin.admin') }}" class="contenido">Configuración de Procesamiento</a></li>
        <li><a href="{{ url_for('users.usuarios') }}" class="contenido">Agregar Usuarios</a></li>
        <li><a href="{{ url_for('autorizacion.autorizacion') }}" class="contenido">Autorizar Usuarios</a></li>
        <li><a href="{{ url_for('registro.image_processing_logs') }}" class="contenido">Logs de Procesamiento</a></li>

    </ul>
</div>

<section class="alll">
    <div class="content">
        <div class="content-header">
            {% if active_section == 'admin' %}
            {% include 'admin.html' %}
            
            {% elif active_section == 'autorizacion' %}
            {% include 'autorizacion.html' %}

            {% elif active_section == 'usuarios' %}
            {% include 'users.html' %}

            {% elif active_section == 'image_processing_logs' %}
            {% include 'image_processing_logs.html' %}
            
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}