<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Rango</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.rango }}</td>
                <td>{{ 'Activo' if usuario.activo else 'Deshabilitado' }}</td>
                <td>
                    <form method="POST" action="{{ url_for('auditoria.toggle_user', user_id=usuario.id) }}">
                        <button type="submit">
                            {{ 'Deshabilitar' if usuario.activo else 'Habilitar' }}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</body>
</html>