{% extends "layout.html" %} {% block content %}
<section class="Generador">
  <form action="">
    <div class="containerG">
      <input
        type="file"
        id="et_pb_contact_brand_file_request_0"
        class="file-upload"
        webkitdirectory
        directory
        multiple
      />
      
    </div>

    <div class="BotonesProcesar">
        <div>
        <label for="Numero">Numero de Inicio</label>
      <input type="number" placeholder="1000"/>
    </div >
      <button class="Boton" type="submit">Procesar</button>
    </div>
  </form>
</section>
{% endblock content %}
