{% extends 'layout.html'%}
{% block content %}
<form class="generator" action="{{ url_for('generator.generator') }}" method="post">
    <div class="form-group">
        <label for="input_folder">Ruta de Entrada:</label>
        <input type="file" id="input_folder" name="input_folder" required placeholder="Ingrese la ruta completa a la carpeta de entrada" webkitdirectory directory multiple   accept="image/*>
    </div>

    <div class="form-group">
        <label for="start_number">Numero de Inicio:</label>
        <input type="number" id="start_number" name="start_number" value="0000" required placeholder="Ingrese el Numero de Inico del Renombramiento">
    </div>

    <div id="preview-container" class="preview-container">
        <p>Introduzca una ruta para ver una vista previa de la imagen</p>
    </div>

    <button type="submit">Procesar Imágenes</button>
</form>

<div>
    <h2>Detalles de La Configuración</h2>
    <p>Output Folder: {{ config.output_folder }}</p> 
    <p>Output Image Size: {{ config.output_size_width }} x {{ config.output_size_height }}</p>
</div>




<script src="{{ url_for('static', filename='js/generator.js') }}"></script>

{% endblock %}