{% extends "layout.html" %}

{% block content %}
<div class="page-wrapper image-history-container">
    <header class="page-header">
        <h1 class="page-title image-history-title">Historial de Procesamiento de Imágenes</h1>
    </header>

    <div class="content-section image-history-content">
        {% if logs %}
            <div class="table-responsive">
                <table class="custom-table image-history-table table-hover" style="max-height: 400px; overflow-y: auto; display: block; width: 100%;">
                    <thead class="table-header">
                        <tr>
                            <th class="column-date">Fecha y Hora</th>
                            <th class="column-image">Imagen</th>
                            <th class="column-image">Creador</th>
                            <th class="column-image">Rutas de salida</th>

                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for log in logs %}
                        <tr class="table-row {{ 'row-even' if loop.index is divisibleby(2) else 'row-odd' }}">
                            <td class="cell-date">{{ log.fecha.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td class="cell-image">{{ log.nombre_imagen }}</td>
                            <td class="=cell-image">{{ log.usuario }} </td>
                            <td class="cell-actions">
                                <div class="action-buttons">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="empty-state">
                <p class="empty-message">No hay registros de procesamiento de imágenes.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
