<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Generador.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Global.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css')}}">
    

    <title>{{ titulo }}</title>
</head>

<body>
    <nav class="menu">
        <ul>
            <!-- Este enlace está disponible para todos -->
            <li><a href="/generator">Procesador de Imágenes</a></li>

            <!-- Estos enlaces solo estarán disponibles si el rango es 'admin' -->
            {% if session.get('user_rango') == 'admin' %}
                <li><a href="/admin">Admin</a></li>
                <li><a href="/addusers">Agregar Usuarios</a></li>
                <li><a href="image_processing_logs">Registro de Images</a></li>
            {% endif %}
        </ul>
    </nav>


    <main>
        {% block content %}
            <!--Contenido se mostrara aquí-->
        {% endblock%}
    </main>



    <footer class="footer">
        <section class="Informacion">
            
            <p>
                <img src="{{ url_for('static', filename='Img/favicon.ico')}}" alt="" class="Logito"> Esta página web ha sido desarrollada por el equipo de desarrollo Jz Company Sv.
                Para obtener más información sobre nuestro equipo y servicios, visita el siguiente enlace: <a href="https://maps.app.goo.gl/kuXwjRXEWtRBxndv6" target="_blank">Jz Company Sv</a>.
            </p>
            <p>
                Nuestro objetivo es ofrecer soluciones tecnológicas personalizadas, facilitando a nuestros clientes potenciales la oportunidad de contratarnos o solicitar información sobre nuestros servicios y programas de desarrollo.
            </p>
        </section>
        <section class="Contacto">
            <div class="Info">
                <span>Redes sociales</span>
                <a href="https://github.com/Jz410" target="_blank">Git Hub</a>
            </div>
            <div class="Info">
                <span>Personal</span>
                <a href="https://github.com/NioyJadelkaFp" target="_blank">Nioy - Jairo</a>
                <a href="https://github.com/Ezxquiel" target="_blank">Ezxquiel - Ezquiel</a>
                <a href="https://github.com/MinniFinnex" target="_blank">Minnifinnex - Kevin</a>
            </div>
            

            <div class="proxi">
                <a>Próximamente</a>
            </div>
        </section>
    </footer>
</body>

</html>