<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login DE Ministerio De Agricultura y Ganadería - Mag</title>
    
</head>

<body style="overflow: hidden;">
    <div class="Login-all">
        <div class="ImgContainer">
            <img src="{{ url_for('static', filename='img/Logo-MAG.png') }}" alt="logo">
            <p class="parrafo">Dirección General De Ganadería</p>
        </div>
        <form action="/login" method="POST" class="login">
            <label for="user">User</label>
            <input type="text" name="user" placeholder="Ingrese un usuario" autofocus required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Ingrese su contraseña" required>
            <button type="submit">Login</button>
        </form>

        

    </div>

    <!-- Mensajes flash como ventana flotante -->
<div id="flash-messages" class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<script>
    // Espera a que la página cargue
    document.addEventListener('DOMContentLoaded', () => {
        const messages = document.querySelectorAll('.flash-message');
        messages.forEach((message) => {
            // Eliminar mensaje después de 5.5 segundos
            setTimeout(() => {
                message.remove();
            }, 5500);
        });
    });
</script>


   


</body>

</html>
